.Light {
  background: #fff;
  color: black;

  .contenedor-header {
    background: #fafafa;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    header {
      max-width: 1100px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      .logo {
        a {
          text-decoration: none;
          font-size: 36px;
          color: #1cb698;
          font-family: "Righteous";
        }
      }

      nav ul {
        display: flex;
        list-style-type: none;
        li {
          a {
            text-decoration: none;
            text-align: none;
            color: #252a2e;
            margin: 0 15px;
            padding: 3px;
            transition: 0.5s;
          }
          a:hover {
            font-size: 20px;
            transition: 0.3s;
            border-bottom: #1cb698 solid 3px;
            color: #1e2326;
          }
        }
      }
        
      .nav-container-resposive {
        background: #1cb698;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
      }
      .Theme-Dark-Light{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        background: #1cb698;
        border-radius: 50%;
        border: 2px solid #3b5998;

          .Theme-Btn{
            background-image: url("../Imagen/sol.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        cursor: pointer;
        text-transform: capitalize;
            
          }

      }
    }
  }

  /* INICIO */
  .inicio {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 1)
      ),
      url("../Imagen/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #000505;
    display: flex;
    align-items: center;
    
    .contenedor-banner {
      padding: 20px;
      background: #1cb698;
      max-width: 350px;
      margin: auto;
      text-align: center;
      border-radius: 40px;
      h1 {
        margin-top: 40px;
        font-size: 42px;
        font-family: "Righteous";
      }
      img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 10px solid #131517;
        margin-top: 40px;
      }
      h2 {
        font-size: 15px;
        font-weight: normal;
      }
      .redes {
        a {
          color: #000505;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #000505;
          width: 42px;
          height: 42px;
          line-height: 42px;
          margin: 40px 5px;
          font-size: 20px;
          transition: 0.3s;
          border-radius: 100%;
        }
        a:nth-child(2):hover {
          background-color: #fff;
          color: #0e76a8;
          transition: 0.3s;
        }
      a:nth-child(1):hover {
          background-color: #fff;
          color: #3b5998;
          transition: 0.3s;
        }
      a:nth-child(3):hover {
          background-color: #fff;
          color: #934fa2;
          transition: 0.3s;
        }
      a:nth-child(5):hover {
          background-color: #fff;
          color: #1cb698;
          transition: 0.3s;
        }
 a:nth-child(4):hover {
          background-color: #fff;
          color: #1e2326;
          transition: 0.3s;
        }
      }
    }
  }

  .sobremi {
    background: var(--bg-3);
    color: #000;
    padding: 50px 20px;
    h2 {
      font-size: 48px;
      font-family: var(--Righteous);
      text-align: center;
      padding: 20px 0px;
    }
    .contenido-seccion {
      max-width: 1100px;
      margin: auto;

      p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;

        span {
          color: #1cb698;
          font-weight: bold;
        }
      }
    }
    .fila {
      display: flex;

      .col {
        width: 50%;

        h3 {
          font-size: 28px;
          font-family: var(--Righteous);
          margin-bottom: 25px;
        }
        ul {
          list-style: none;

          li {
            margin: 12px 0;

            strong {
              display: inline-block;
              color: #1cb698;
              width: 130px;
            }
            span {
              background-color: #1cb698;
              padding: 3px;
              font-weight: bold;
              border-radius: 5px;
            }
          }
        }
      }
      .conenedor-intereses {
        display: flex;
        flex-wrap: wrap;

        .intereses {
          width: 100px;
          height: 100px;
          background: #f7f7f8;
          border-radius: 10px;
          margin: 0 15px 15px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          i {
            font-size: 30px;
            margin-bottom: 10px;
          }
        }
        .intereses:hover {
          background-color: #1cb698;
          color: #f7f7f8;
          cursor: pointer;
        }
      }
    }

    .seccion-descargar {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .or {
      font-size: 1.3em;
      text-transform: uppercase;
    }
    button {
      cursor: pointer;
      background: transparent;
      border: 2px solid #131517;
      width: 230px;
      display: block;
      margin: 20px auto;
      padding: 10px 22px;
      font-size: 16px;
      color: #000;
      z-index: 10;
      position: relative;
      a {
        text-decoration: none;
        color: #000;
        cursor: pointer;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #1cb698;
        z-index: -1;
        transition: 0.3s;
      }
    }
    button:hover {
      .overlay {
        width: 100%;
      }
    }
  }

  /* Seccion Skills */

  .skills {
    background: linear-gradient(
      3deg,
      rgba(255, 255, 243, 1) 0%,
      rgba(255, 254, 246, 1) 50%,
      rgba(255, 255, 243, 1) 100%
    );
    color: #000;
    padding: 50px 20px;
    h2 {
      font-size: 48px;
      font-family: var(--Righteous);
      text-align: center;
      padding: 20px 0px;
    }
    .contenido-skills {
      max-width: 1100px;
      margin: auto;
    }

    .fila {
      display: flex;
      .col {
        width: 50%;
        padding: 0 20px;
        h3 {
          font-size: 28px;
          font-family: var(--Righteous);
          margin-bottom: 20px;
        }
        .skill {
          > span {
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
          }
          .barra-skil {
            height: 8px;
            width: 80%;
            background: #f7f7f8;
            position: relative;
            margin-bottom: 30px;
            color: #fff;
            span {
              position: absolute;
              height: 40px;
              width: 40px;
              background-color: #131517;
              border-radius: 50px;
              line-height: 40px;
              text-align: center;
              top: -17px;
              right: -15px;
              font-size: 14px;
            }
          }
          .progreso {
            background-color: #1cb698;
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
          }

          .JavaScript {
            width: 0%;
            animation: 2s Javascripit forwards;
          }
          @keyframes Javascripit {
            0% {
              width: 0%;
            }
            100% {
              width: 60%;
            }
          }
          .htmlcss {
            width: 0%;
            animation: 2s htmlcss forwards;
          }
          @keyframes htmlcss {
            0% {
              width: 0%;
            }
            100% {
              width: 90%;
            }
          }
          .react {
            width: 0%;
            animation: 2s react forwards;
          }
          @keyframes react {
            0% {
              width: 0%;
            }
            100% {
              width: 40%;
            }
          }
          .excel {
            width: 0%;
            animation: 2s excel forwards;
          }
          @keyframes excel {
            0% {
              width: 0%;
            }
            100% {
              width: 90%;
            }
          }
          .canva {
            width: 0%;
            animation: 2s canva forwards;
          }
          @keyframes canva {
            0% {
              width: 0%;
            }
            100% {
              width: 100%;
            }
          }
          .comun {
            width: 0%;
            animation: 2s comunicaciones forwards;
          }
          @keyframes comunicaciones {
            0% {
              width: 0%;
            }
            100% {
              width: 90%;
            }
          }
          .trabajo {
            width: 0%;
            animation: 2s trabaj forwards;
          }
          @keyframes trabaj {
            0% {
              width: 0%;
            }
            100% {
              width: 80%;
            }
          }
          .creat {
            width: 0%;
            animation: 2s creat forwards;
          }
          @keyframes creat {
            0% {
              width: 0%;
            }
            100% {
              width: 80%;
            }
          }
          .ded {
            width: 0%;
            animation: 2s ded forwards;
          }
          @keyframes ded {
            0% {
              width: 0%;
            }
            100% {
              width: 90%;
            }
          }
          .proyec {
            width: 0%;
            animation: 2s proyec forwards;
          }
          @keyframes proyec {
            0% {
              width: 0%;
            }
            100% {
              width: 60%;
            }
          }
        }
      }
    }
  }
  /* SECCION CURRICULUM */
  .cv {
    background: var(--bg-3);
    color: #000;
    padding: 50px 20px;
    h2 {
      font-size: 48px;
      font-family: var(--Righteous);
      text-align: center;
      padding: 20px 0px;
    }

    .contenedor-cv {
      max-width: 1100px;
      margin: auto;
    }
    .fila {
      display: flex;
      .col {
        width: 49%;
        padding: 0 20px;
        .Title-cv {
          font-size: 28px;
          font-family: var(--Righteous);
          margin-bottom: 20px;
        }
      }
      .izquierda {
        border-right: 2px solid #f7f7f8;
      }
      .derecha {
        border-left: 2px solid #f7f7f8;
      }
      .item {
        padding: 25px;
        margin-bottom: 36px;
        background-color: #1cb698;
        position: relative;
        border-radius: 10px;
        h4 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .casa {
          color: #fff;
          font-size: 22px;
          font-weight: bold;
          display: block;
        }
        .fecha {
          color: #fff;
          display: block;
          margin-bottom: 10px;
        }
        a {
          line-height: 24px;
        }
        .conectori {
          height: 2px;
          background-color: #131517;
          width: 47px;
          position: absolute;
          top: 50%;
          right: -47px;
          z-index: 5;
          .circuloi {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #131517;
            float: right;
            position: relative;
            bottom: 4px;
          }
        }
        .conectord {
          height: 2px;
          background-color: #131517;
          width: 47px;
          position: absolute;
          top: 50%;
          left: -47px;
          z-index: 5;
          .circulod {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #131517;
            float: left;
            position: relative;
            bottom: 4px;
          }
        }
      }
      .izq {
        border-right: 2px solid #131517;
        margin-right: 20px;
      }
      .der {
        border-left: 2px solid #131517;
        margin-left: 20px;
      }
    }
  }
  /* Portafolio */
  .Portafolio {
    background: linear-gradient(
      3deg,
      rgba(255, 255, 243, 1) 0%,
      rgba(255, 254, 246, 1) 50%,
      rgba(255, 255, 243, 1) 100%
    );
    color: #000;
    padding: 50px 20px;
    h2 {
      font-size: 48px;
      font-family: var(--Righteous);
      text-align: center;
      padding: 20px 0px;
    }
    h3 {
      font-size: 28px;
      font-family: var(--Righteous);
      text-align: center;
      padding: 20px 0px;
    }
    .contenedor-Portafolio {
      max-width: 1100px;
      margin: auto;
    }

    .galeria {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .proyecto {
        position: relative;
        max-width: 450px;
        height: fit-content;
        margin: 10px;
        cursor: pointer;
        img {
          width: 100%;
          height: 250px;
          display: block;
        }
        a {
          text-decoration: none;
        }
        p {
          color: #fff;
        }
        .overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          text-align: center;

          background: linear-gradient(
            rgba(28, 182, 152, 0.8),
            rgba(28, 182, 152, 0.8)
          );
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: 1s;
          font-size: 18px;
          letter-spacing: 3px;
          opacity: 0;
          h4 {
            margin-bottom: 20px;
            transition: 0.1s;
            color: #131517;
          }
        }
        .overlay:hover {
          opacity: 1;
          h4 {
            margin-bottom: 0px;
            transition: 0.4s;
          }
        }
      }
    }
  }

  /* Seccion Contacto */

  .contacto {
    background: linear-gradient(
        to top,
        rgba(255, 253, 251, 0.8),
        rgba(255, 255, 255, 1)
      ),
      url(../Imagen/Contacto-bg.jpg);

    color: #000;
    padding: 50px 0;
    h2 {
      font-size: 48px;
      font-family: var(--Righteous);
      text-align: center;
      padding: 20px 0px;
    }
    .contenido-contacto {
      max-width: 1100px;
      margin: auto;
    }
    .fila {
      display: flex;
      .col {
        width: 50%;
        padding: 10px;
        position: relative;
        input {
          display: block;
          width: 100%;
          padding: 18px;
          border: none;
          margin-bottom: 20px;
          background-color: #fafafa;
          color: #000;
          font-size: 18px;
        }
        textarea {
          display: block;
          width: 100%;
          padding: 18px;
          border: none;
          margin-bottom: 20px;
          background-color: #fafafa;
          color: #000;
          font-size: 18px;
        }
        .warnings {
          color: #000;
          width: 100%;
          margin: auto;
          font-size: 1em;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button {
          cursor: pointer;
          background: transparent;
          border: 2px solid #000;
          width: fit-content;
          display: block;
          margin: 20px auto;
          padding: 10px 22px;
          font-size: 16px;
          color: #131517;
          z-index: 10;
          position: relative;
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #1cb698;
            z-index: -1;
            transition: 1s;
          }
        }
        button:hover {
          .overlay {
            width: 100%;
          }
        }
        img {
          width: 100%;
          height: 50vh;
        }
        .info {
          position: absolute;
          top: 30%;
          background: #fafafa;
          border-radius: 20px;
          padding: 20px;
          width: fit-content;
          left: 50%;
          transform: translate(-50%, -50%);
          ul {
            list-style: none;
            li {
              margin-bottom: 10px;

              
            }
            i {
              color: #1cb698;
              display: inline-block;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
  footer {
    background-color: #fafafa;
    color: #000;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;

    .redes {
    margin-bottom: 20px;
   a {
    color: #1cb698;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #1cb698;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 100%;
  }
  a:hover {
    background-color: #fff;
    color: #1e2326;
    transition: 0.3s;
  }

  a:nth-child(2):hover {
    background-color: #fff;
    color: #0e76a8;
    transition: 0.3s;
  }
   a:nth-child(1):hover {
    background-color: #fff;
    color: #3b5998;
    transition: 0.3s;
  }
  a:nth-child(3):hover {
    background-color: #fff;
    color: #934fa2;
    transition: 0.3s;
  }
  a:nth-child(5):hover {
    background-color: #fff;
    color: #0e76a8;
    transition: 0.3s;
  }
}
   .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background: #131517;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 10px;
  }
}
  }